<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザーログイン</h5>
      <div class="form-body p-4">

        <div class="mx-auto text-center">
            <!-- ここからを追加 -->
            <p>ユーザー名と<br>パスワードを入力してください。</p>
            <!-- ここまでを追加 -->

            </div>

        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="input-group mb-3">
            <!-- ここからを追加 -->
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, placeholder:"ユーザー名" %>
            <!-- ここまでを追加 -->
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
          </div>
          <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>